{% extends 'base.html.twig' %}

{% block title %}Exposition{% endblock %}

{% block body %}
    <div class="exposition" style="background-image: url(/images/expobienvenue-bg-page.png)">
        <div class="container-fluid position-relative">
            <div class="exposition-banner" style="background-size:cover; background-image: url(/uploads/images/{{ exposition.bannerImage }})">
            </div>
        </div>
        <div class="container pt-5">
            <div class="row mt-5">
                <div class="col-7 p-2 mt-5">
                    <div class="exposition-main-image" style="background-size:cover; background-image: url(/uploads/images/{{ exposition.tinyImage }})"></div>
                </div>
                <div class="col-5 p-2 mt-5">
                    <div class="exposition-secondary-image" style="background-size:cover; background-image: url(/images/expobienvenue-photo2.png)"></div>
                    <div class="row justify-content-between">
                        <div class="col-auto pt-3">
                            <div class="current-event--main-square exposition--main-square text-center">
                                {{ exposition.startAt|date('d') }} <br>
                                {{ exposition.startAt|date('M', "Europe/Paris") }} <br>
                                - <br>
                                {{ exposition.endAt|date('d') }} <br>
                                {{ exposition.endAt|date('M', "Europe/Paris") }}
                            </div>
                        </div>
                        <div class="col-auto pt-3">
                            <div class="exposition-small-image" style="background-image: url(/uploads/images/{{ exposition.artistPhoto }})"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-4 mb-5">
            <div class="row">
                <div class="col-9">
                    <div class="col-8 p-0">{{ exposition.title }}</div>
                    <div class="col-6 exposition-description my-4">{{ exposition.thematique }}</div>
                    <div class="font-weight-bold mb-3 font-italic">{{ exposition.shortDescription }}</div>
                    <div>{{ exposition.longDescription }}</div>
                </div>
                <div class="col-auto ml-auto pr-2">
                    <div class="exposition-small-image mt-2 square-action" style="background-image: url(/uploads/images/{{ exposition.artistPhoto }})">
                    </div>
                    <div class="hidden-text name-text">Ayham Khatibi</div>
                    <div class="exposition-small-image mt-2 square-action"  style="background-size:cover; background-image: url(/images/expobienvenue-artiste2.png)">
                    </div>
                    <div class="hidden-text name-text">Engénice Delatour</div>
                    <div class="exposition-small-image mt-2 square-action"  style="background-size:cover; background-image: url(/images/expobienvenue-artiste3.png)">
                    </div>
                    <div class="hidden-text name-text">Julie Lallande</div>
                    <div class="exposition-small-image mt-2 square-action"  style="background-size:cover; background-image: url(/images/expobienvenue-artiste4.png)">
                    </div>
                    <div class="hidden-text name-text">Florent Carton</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
