{% if odd == true %}
    <div class="row position-relative planning-row align-items-center my-5">
        <a href="{{ path('exposition', {id: exposition.id}) }}" class="col-4 offset-1 d-flex flex-column planning-over text-right move">
            <div class="planning-expo-title">{{ exposition.title }}</div>
            <div class="planning-expo-description">{{ exposition.shortDescription }}</div>
            <div class="planning-expo-text">{{ exposition.longDescription }}</div>
        </a>
        <a href="{{ path('exposition', {id: exposition.id}) }}" class="planning-first-photo-wrapper">
            <div class="planning-first-photo" style="background-image: url(/uploads/images/{{ exposition.tinyImage }})">
                <div class="col-6 h-100 ml-auto p-0 d-flex flex-column justify-content-between align-items-start pt-0 pr-0">
                    <div>
                        <div class="current-event--main-square">{{ exposition.startAt|date('d') }} {{ exposition.startAt|date('M', "Europe/Paris") }}
                            <br>{{ exposition.startAt|date('Y') }}</div>
                    </div>
                    <div>
                        <div class="current-event--main-square">{{ exposition.endAt|date('d') }} {{ exposition.endAt|date('M', "Europe/Paris") }}
                            <br>{{ exposition.endAt|date('Y') }}</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('exposition', {id: exposition.id}) }}" class="col-4 p-0 planning-over offset-2">
            <div class="planning-second-photo move" style="background-image: url(/uploads/images/{{ exposition.planningImage2 }})"></div>
        </a>
    </div>
{% else %}
    <div class="row position-relative planning-row align-items-center my-5">
        <a href="{{ path('exposition', {id: exposition.id}) }}" class="col-4 offset-1 planning-over">
            <div class="planning-second-photo move" style="background-image: url(/uploads/images/{{ exposition.planningImage2 }})"></div>
        </a>
        <a href="{{ path('exposition', {id: exposition.id}) }}" class="planning-first-photo-wrapper">
            <div class="planning-first-photo" style="background-image: url(/uploads/images/{{ exposition.tinyImage }})">
                <div class="col-6 h-100 mr-auto p-0 d-flex flex-column justify-content-between align-items-end pt-0 pr-0">
                    <div>
                        <div class="current-event--main-square">{{ exposition.startAt|date('d') }} {{ exposition.startAt|date('M', "Europe/Paris") }}
                            <br>{{ exposition.startAt|date('Y') }}</div>
                    </div>
                    <div>
                        <div class="current-event--main-square">{{ exposition.endAt|date('d') }} {{ exposition.endAt|date('M', "Europe/Paris") }}
                            <br>{{ exposition.endAt|date('Y') }}</div>
                    </div>
                </div>
            </div>
        </a>
        <a href="{{ path('exposition', {id: exposition.id}) }}" class="col-4 p-0 planning-over offset-2 text-left move">
            <div class="planning-expo-title">{{ exposition.title }}</div>
            <div class="planning-expo-description">{{ exposition.shortDescription }}</div>
            <div class="planning-expo-text">{{ exposition.longDescription }}</div>
        </a>
    </div>
{% endif %}
